@import '../../styles/mixins';
@import '../../styles/variables';

label {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    font-size: $h-btn-size;
}

input {
    width: 100%;
    height: 5rem;
    margin-bottom: 3rem;
    padding: 2rem;
    border: 2px solid $black;
    border-radius: 2rem;
    outline: none;
    font-family: 'Lato';
    font-size: $h-btn-size;
    &:focus {
    background-color: $blue;
    }
    &:invalid {
        color: $black;
        background-color: $red-back;
        animation: tilt-n-move-shaking .3s infinite;
    }
}
textarea {
    @extend input ;
    height: auto;
}

.label_container {
    @include flex ($justify: space-between, $items: center);
}

.input_required {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 1rem;
    font-family: 'Lato';
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem;
    background-color: #a725087b;
    border-radius: 1rem;
    &.error {
        color: $red;
    }
    svg {
        height: 1.25rem;
        width: 1.25rem;
        margin-right: 0.5rem;
        padding: 0.25rem;
        border: 2px solid $red;
        border-radius: 100%;
    }
}

@media screen and (max-width: $mobile) {
    label {
        font-size: 1.75rem;
    }
    input[type="submit"] {
        width: 100%;
        font-size: $p-size;    
    }
    input::placeholder, textarea::placeholder {
        font-size: 1.5rem;
    }
    .label_container {
        flex-direction: column;
        align-items: flex-start;
    }
    .input_required {
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
        svg {
            height: 1rem;
            width: 1rem;
        }
    }
}