@use '../../index.scss';

.hamburger {
    position: relative;
    width: 2rem;
    height:2rem;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    z-index: 10;
    cursor: pointer;
}

.burger {
    width: 2rem;
    height: 0.5rem;
    border-radius: 10px;
    background-color: index.$red;
    transform-origin: 1px;
    transition: all .3s linear;
}

@media screen and (max-width: 767px) {
    .burger {
        background-color: white;
    }
}