@mixin default_btn ($color, $background, $border) {
    color: $color;
    background-color: $background;
    border: $border;
    border-radius: 1rem;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

@mixin hover_btn ($color, $background) {
    color: $color;
    background-color: $background;
}

@mixin section_title ($color) {
    margin-bottom: 3rem;
    color: $color;
    font-size: 3rem;
    text-align: center;
}