$black: #0F0A0A;
$blue: #7CD1EC;
$cyan: #08B2E3;
$green: #80ec7c6f;
$green-back: #0ce308;
$red: #A72608;
$red-back: #a725087b;

$h-btn-size: 2rem;
$p-size: 1.75rem;

$line-height: 30px;

$black-shadow: 0px 0px 5px 0px $black;
$cyan-shadow: 2px 2px 0px 2px $cyan;

$mobile: 768px;
$tablet: 992px;