$black: #0F0A0A;
$blue: #7CD1EC;
$cyan: #08B2E3;
$green: #80ec7c6f;
$green_bis: #0ce308;
$red: #A72608;
$red_bis: #a725087b;

$btn__shadow: 0px 0px 5px 0px $black;
$shadow_btn: 2px 2px 0px 2px $cyan;

$mobile: 768px;
$tablet: 992px;