@use '../../index.scss';

.about_skills {
    max-width: calc(1200px - 10%);
    height: 350px;
    margin: -100px auto 50px auto;
    padding: 3rem;
    background-color: white;
    box-shadow: 2px 2px 20px 0px index.$black;
    border-radius: 2rem;
    color: index.$black;
    p {
        margin-bottom: 3rem;
        font-size: 2rem;
    }
}

.skills_list {
    display: flex;
    justify-content: space-evenly;
    h3 {
        margin: 1rem 0;
        font-size: 2rem;
        text-align: left;
    }
}

.skills_items {
    text-align: center;
    svg {
        margin-left: 10px;
        color: index.$cyan;
        font-size: 2rem;
    }
    ul {
        font-size: 1.5rem;
        text-align: left;
        li {
            line-height: 30px;
        }
    }
}