@use '../../index.scss';

.about_section {
    color: white;
    font-family: 'Lato';
}

.about_introduction {
    height: 100vh;
    padding: 2rem;
    background-color: index.$red;
    h3 {
        max-width: 1200px;
        margin: 2rem auto;
        font-size: 2.5rem;
    }
    p {
        max-width: 1200px;
        margin: 0 auto 3rem auto;
        font-size: 1.75rem;
        line-height: 35px;
    }
}

.about_img {
    background-image: url('../../assets/Code-typing-bro.svg');
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-right: auto;
    margin-bottom: -100px;
    margin-top: -100px;
    z-index: 1000;
}