@import '../../styles/variables';

.about_section {
    color: white;
    font-family: 'Lato';
}

.about_introduction {
    padding: 5rem 3rem 10rem 3rem;
    background-color: $red;
    p {
        max-width: 1200px;
        margin: 0 auto 3rem auto;
        font-size: $p-size;
        line-height: 35px;
    }
    p:first-child {
        font-size: 1.9rem;
        font-weight: bold;
    }
}

.about_img {
    position: relative;
    background-image: url('../../assets/Code-typing-bro.svg');
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-left: 10%;
    margin-bottom: -75px;
    margin-top: -130px;
    z-index: 100;
}

@media screen and (max-width: $mobile) {
    .about_introduction {
        padding: 3rem 3rem 1rem 3rem;
    }
    .about_img {
        display: none;
    }
}