@import '../../styles/mixins';
@import '../../styles/variables';

.form_section {
    padding: 5rem;
    // background-color: index.$blue;
}
.form_container {
    max-width: 1200px;
    margin: 0 auto;
    h2 {
        @include section_title ($color: $black);
        margin-bottom: 0;
    }
}
.form {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    font-family: 'Lato', sans-serif;
    // background-color: white;
}

label {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    font-size: 2rem;
}

input {
    width: 100%;
    height: 5rem;
    margin-bottom: 3rem;
    padding: 2rem;
    border: 2px solid $black;
    border-radius: 2rem;
    outline: none;
    font-family: 'Lato';
    font-size: 2rem;
    &:focus {
    background-color: $blue;
    }
    &:invalid {
        color: $black;
        background-color: #a725087b;
        animation: tilt-n-move-shaking .3s infinite;
    }
}

.form_btn {
    @include default_btn ($color: white, $background: $cyan, $border: none);
    position: relative;
    overflow: hidden;
    z-index: 0;
    width: 20%;
    height: auto;
    margin: 0;
    padding: 2rem;
    // background: linear-gradient(90deg, rgba(124,209,236,1) 0%, rgba(8,178,227,1) 100%);
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    &:hover {
        @include hover_btn ($color: white, $background: $blue);
        box-shadow: $btn__shadow;
    }
    &:focus {
        border: none;
    }
}

textarea {
    @extend input ;
    height: auto;
}

.form_enquiry {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-family: 'Lato';
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    background-color: #14d51463;
    border-radius: 1rem;
    &.success {
        color: #119e11;
    }
    svg {
        margin-right: 0.5rem;
    }
}

.form_submit {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(0.5px, 0.5px) rotate(0.5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-0.5px, 0.5px) rotate(-0.5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

@media screen and (max-width: 768px) {
    .form {
        padding: 0;
    }
    label {
        font-size: 1.75rem;
    }
    input[type="submit"] {
        width: 100%;
        font-size: 1.75rem;    
    }
}