@import '../../styles/mixins';
@import '../../styles/variables';

.header {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 0px 10px 0px black;
    transition-property: all; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    z-index: 1000;
    &.hide {
        top: -15rem;
        box-shadow: none;
    }
    &.show {
        top: 0;
    }
}
.navbar {
    @include flex ($justify: space-between, $items: baseline);
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0rem;
    font-family: 'Playfair Display', sans-serif;
}
.logo {
    padding: 1rem;
    color: $red;
    text-align: center;
    a {
        color: inherit
    }
    h1 {
        font-size: 5rem;
        letter-spacing: 0.25rem;
    }
}
.hamburger {
    position: absolute;
    top: 55%;
    right: 1rem;
    transform: translateY(-50%);
    display: none;
    width: 20px;
    color: white;
    border: none;
    background: none;
    cursor: pointer;
}
.burger {
    height: auto;
}
.navigation ul {
    display: flex;
    gap: 50px;
    font-family: 'Lato', sans-serif;
    font-size: $h-btn-size;
    li {
        padding: 0.5rem 1rem;
        color: $black;
        cursor: pointer;
        &:hover {
            color: $red;
        }
        svg {
            margin-right: 5px;
        }
    }
}
.navigation #nav_projets {
    @include default_btn ($color: white, $background: $red, $border: 2px solid $red);
    &:hover {
        @include hover_btn ($color: $red, $background: white);
    }
}

@media screen and (max-width: $mobile) {
    .header {
        // height: 12rem;
        background-color: $red;
        &.hide {
            top: 0;
        }
    }
    .logo {
        color: white
    }
    .hamburger {
        display: block;
    }
    .navigation ul {
        display: none;
        position: absolute;
        top: 110px;
        left: 0;
        flex-direction: column;
        width: 100%;
        // height: calc(100vh - 120px);
    }
    .navigation.expanded ul {
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
        height: auto;
        padding: 2rem;
        background-color: $red;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        font-size: $h-btn-size;
        z-index: 1000;
        li {
            @include default_btn ($color: white, $background: $red, $border: none);
            text-align: center;
            margin: 0;
            padding: 1.5rem 0;
            &:hover {
                color: $red;
                background-color: white;
            }
        }
    }
    .navigation.expanded ul a {
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .logo h1 {
        font-size: 4rem;
    }
    .navigation ul {
        font-size: $p-size;
    }
}