@use '../../index.scss';
@import '../../styles/mixins';

header {
    position: sticky;
    top: 0;
    margin-bottom: 50px;
    z-index: 1000;
    background-color: white;
}
<<<<<<< HEAD
=======

>>>>>>> 54fd0d8b0dbb8f866c82b50065f90a7e3062cba5
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0rem;
    font-family: 'Playfair Display', sans-serif;
}
<<<<<<< HEAD
=======

>>>>>>> 54fd0d8b0dbb8f866c82b50065f90a7e3062cba5
.logo {
    // margin-left: 1rem;
    padding: 1rem;
    color: index.$red;
    text-align: center;
    cursor: pointer;
    h1 {
        font-size: 5rem;
    }
}
<<<<<<< HEAD
=======

>>>>>>> 54fd0d8b0dbb8f866c82b50065f90a7e3062cba5
.hamburger {
    position: absolute;
    top: 55%;
    right: 1rem;
    transform: translateY(-50%);
    display: none;
<<<<<<< HEAD
    width: 20px;
=======
    width: 30px;
>>>>>>> 54fd0d8b0dbb8f866c82b50065f90a7e3062cba5
    color: white;
    border: none;
    background: none;
    cursor: pointer;
}
<<<<<<< HEAD
.burger {
    height: auto;
}
=======

.burger {
    height: auto;
}

// .navigation {
//     margin-left: auto;
// }

>>>>>>> 54fd0d8b0dbb8f866c82b50065f90a7e3062cba5
.navigation ul {
    display: flex;
    // flex-wrap: wrap;
    // justify-content: space-evenly;
    gap: 50px;
    // padding: 0;
<<<<<<< HEAD
    font-family: 'Lato', sans-serif;
=======
    font-family: 'Playfair Display', sans-serif;
>>>>>>> 54fd0d8b0dbb8f866c82b50065f90a7e3062cba5
    font-size: 2rem;
    li {
        padding: 1rem;
        // margin: 0 1rem;
        color: index.$black;
        cursor: pointer;
        &:hover {
            color: index.$red;
        }
<<<<<<< HEAD
        svg {
            margin-right: 5px;
        }
    }
}
.navigation #nav_projets {
    @include default_btn ($color: index.$red, $border: 2px solid index.$red);
=======
        a {
            color: inherit;
            text-decoration: none;
        }
    }
}

.navigation li:nth-child(2) {
    @include default_btn ($color: index.$red); 
>>>>>>> 54fd0d8b0dbb8f866c82b50065f90a7e3062cba5
    &:hover {
        @include hover_btn ($color: white, $background: index.$red);
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        margin-bottom: 50px;
        background-color: index.$red;
    }
    .logo {
        color: white
    }
    .hamburger {
        display: block;
    }
    .navigation ul {
        display: none;
        position: absolute;
        top: 107px;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 107px);
    }
    .navigation.expanded ul {
        display: flex;
        gap: 0;
        background-color: white;
        z-index: 1000;
        li {
            // @include default_btn ($color: white);
            text-align: center;
            margin: 0;
            padding: 1.5rem 0;
            &:hover {
                color: index.$red;
                background-color: white;
            }
        }
    }
    li:nth-child(2) {
        color: index.$black;
        border: none;
        &:hover {
            color: index.$red;
            background-color: white;
            border-radius: 0;
        }
    }
<<<<<<< HEAD
}

@media screen and (max-width: 1024px) {
    .logo h1 {
        font-size: 4rem;
    }
    .navigation ul {
        font-size: 1.75rem;
    }
=======
>>>>>>> 54fd0d8b0dbb8f866c82b50065f90a7e3062cba5
}