@use '../../index.scss';
@import '../../styles/mixins';

#projets {
    background-color: index.$red;
}

.works_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    color: white;
    h2 {
        margin: 2rem auto 4rem auto;
        font-size: 3rem;
        text-align: center;
    }
}

.works_filters {
    display: flex;
    justify-content: space-evenly;
    margin: 5rem 0;
    li {
        @include default_btn ($color: white, $border: 2px solid white);
        min-width: 100px;
        padding: 1rem;
        font-family: 'Lato';
        font-size: 1.5rem;
        text-align: center;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
        }
    }
}

.works_wrapper {
    display: block;
    padding: 3rem;
}

.works_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 10rem;
    justify-items: center;
}