@import '../../styles/mixins';
@import '../../styles/variables';

#projets {
    padding: 5rem;
    background-color: $red;
}

.works_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    h2 {
        @include section_title ($color: white);
    }
}

.works_filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3rem;
    margin: 5rem 0;
    li {
        @include default_btn ($color: white, $background: none, $border: 2px solid white);
        min-width: 100px;
        padding: 1rem;
        font-family: 'Lato';
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: 1px;
        cursor: pointer;
        &:hover {
            box-shadow: $black-shadow;
        }
    }
}

.works_wrapper {
    display: block;
    padding: 3rem;
}

.works_grid {
    @include grid ($col: repeat(3, 1fr), $row: repeat(2, 1fr), $gap: 10rem);
    justify-items: center;
}

@media screen and (max-width: 992px) {
    .works_container {
        padding: 0;
    }
    .works_wrapper {
        padding: 0;
    }
    .works_grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .works_container {
        padding: 0;
    }
    .works_wrapper {
        padding: 0;
    }
    .works_grid {
        @include grid ($col: 1fr, $row: repeat(5, 1fr), $gap: 3rem);
    }
}