@import '../../styles/mixins';
@import '../../styles/variables';

footer {
    background-color: $black;
    color: white;
}

.footer_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem 0;
}

.footer_social {
    @include flex ($justify: space-between, $items: center);
    font-size: 3rem;
    a, button {
        font-size: 3rem;
        color: white;
        border: none;
        background-color: $black;
        cursor: pointer;
        &:hover {
            color: $blue;
        }
    }
    span {
        width: 40%;
        height: 4px;
        background-color: white;
        border-radius: 2rem;
    }
}

.footer_legal {
    margin-top: 3rem;
    text-align: center;
    font-family: 'Lato';
    font-size: $h-btn-size;
    color: white;
    p:first-child {
        font-size: $p-size;
    }
    p:nth-child(2) {
        margin-top: 3rem;
    }
}

@media screen and (max-width: $mobile) {
    .footer_container {
        width: 95%;
        a, button {
            font-size: $h-btn-size;
        }
    }
    .footer_social span {
        width: 30%;
    }
    .footer_legal {
        font-size: $p-size;
    }
}

@media screen and (max-width: $tablet) {
    .footer_container {
        padding: 5rem 2rem;
    }
}