@use '../../index.scss';

footer {
    background-color: index.$black;
    color: white;
}

.footer_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem 0;
    a, button {
        font-size: 3rem;
        color: white;
        border: none;
        background-color: index.$black;
        cursor: pointer;
        &:hover {
            color: index.$blue;
        }
    }
}

.footer_social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    span {
        width: 40%;
        height: 4px;
        background-color: white;
        border-radius: 2rem;
    }
}

.footer_legal {
    margin-top: 3rem;
    text-align: center;
    font-family: 'Lato';
    font-size: 2rem;
    cursor: pointer;
}