@import '../../styles/mixins';
@import '../../styles/variables';

.banner_section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    padding-top: 5rem;
}

.banner_container {
    position: relative;
    @include flex ($justify: space-between, $items: center);
    gap: 3rem;
    h1 {
        margin-bottom: 3.5rem;
        font-family: 'Lato';
        font-size: 4rem;
        font-weight: 600;
    }
    h2 {
        font-family: 'Lato';
        font-size: $h-btn-size;
        font-weight: 400;
    }
}

.banner_avatar {
    width: 250px;
    border-radius: 100%;

}
.banner_bottom {
    @include flex ($justify: space-between, $items: center);
}

.banner_scroll_btn {
    @include default_btn ($color: white, $background: $cyan, $border: none);
    width: 100%;
    padding: 2rem;
    font-family: 'Lato';
    font-size: $h-btn-size;
    &:hover {
        @include hover_btn ($color: white, $background: $blue);
        box-shadow: $cyan-shadow;
    }
    svg {
        margin-right: 10px;
    }
}

.banner_img {
    background-image: url('../../assets/Programming-bro.svg');
    width: 475px;
    height: 475px;
    background-size: cover;
    margin-bottom: -110px;
    margin-top: -100px;
}

@media screen and (max-width: 768px) {
    .banner_section {
        padding: 5rem 2rem;
    }
    .banner_container {
        flex-direction: column;
        margin-bottom: 50px;
        h1 {
            font-size: 2.5rem;
        }
        h2 {
            width: 100%;
            font-size: $h-btn-size;
        }
    }
    .banner_bottom {
        justify-content: center;
        a {
            width: 100%;
        }
    }
    .banner_avatar {
        width: 150px;
    }
    .banner_img {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .banner_container {
        gap: 5rem;
    }
    .banner_avatar {
        width: 200px;
    }
    .banner_img {
        height: 400px;
        width: 400px;
        margin-top: -60px;
        margin-bottom: -95px;
    }
}