@import '../../styles/mixins';
@import '../../styles/variables';

.slider_navigation {
    @include flex ($justify: space-between, $items: center);
    width: 100%;
    margin: 5rem auto 0 auto;
    button {
        @include default_btn ($color: white, $background: $red, $border: 2px solid $red);
        @include flex ($justify: space-between, $items: center);
        width: 105%;
        padding: 1rem 2rem;
        font-size: $h-btn-size;
        &:hover {
            @include hover_btn ($color: $red, $background: white);
            border: 2px solid $red;
        }
    }
    p {
        font-family: 'Lato';
        font-size: 1.5rem;
    }
}

.slider_icon {
    font-size: 4rem;
}

.slider_carousel {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: $black;
}

.slider_carousel.false {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: $black;
}

@media screen and (max-width: 768px) {
    .slider_navigation {
        button {
            font-size: 1.5rem;
        }
        p {
            font-size: 1.25rem;
        }
    }
    .slider_icon.mobile {
        font-size: 3rem;
        color: $red;
    }
}